<!DOCTYPE HTML>

<head>
    <link rel="icon" href="/img/Weather-PNG-File.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/DSC_0459_1.jpg" alt="Its me">
        <p>Created by {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>