<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>

<body>
    {{>header}}
    <h1> {{title}} </h1>
    <img src="/img/DSC_0459_1.jpg" alt="Its me">
    <p>Created by {{name}}</p>
    {{>footer}}
</body>

</html>