<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Help</title>
</head>

<body>
    <h1>{{>header}}</h1>
    <p>For any kind of help cantact {{name}}</p>
    {{>footer}}
</body>

</html>