<!DOCTYPE HTML>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/Weather-PNG-File.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>For any kind of help cantact {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>