<!DOCTYPE HTML>

<head>
    <link rel="icon" href="/img/Weather-PNG-File.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <title>Home Page</title>
</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>

        <p>This website is to get the weather information</p>
    </div>

    {{>footer}}
</body>

</html>